---
import { ClientRouter } from "astro:transitions";

const {
  title = "GameKeeper",
  description = "Your board game companion",
  ogTitle,
} = Astro.props;
---

<meta charset="utf-8" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Open Graph tags -->
<meta property="og:title" content={ogTitle ?? "Welcome to Gamekeeper"} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />

<meta name="view-transition" content="same-origin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<ClientRouter />

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
</style>
