---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { BoardGameCard } from "@/components/BoardGameCard";

const boardGames = await getCollection("boardGames");
---

<Layout>
  <div class="grid grid-cols-1 md:grid-cols-3 lg-grid-cols-4 gap-6">
    {
      boardGames.map((boardGame) => {
        return <BoardGameCard boardGame={boardGame.data} />;
      })
    }
  </div>
</Layout>
