---
import { getCollection } from "astro:content";

import BoardGameCard from "@/components/astro/BoardGameCard.astro";

import Layout from "../layouts/Layout.astro";

const boardGames = await getCollection("boardGames");
---

<Layout>
  <div class="lg-grid-cols-4 grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      boardGames.map((boardGame) => {
        return <BoardGameCard boardGame={boardGame.data} />;
      })
    }
  </div>
</Layout>
